<div style="align-items: center; width: initial" class=" flex-display flex-row-direction pure-g">
  <div class="pure-u-1-2">
    <img routerLink="" src="/assets/logo.png" style="cursor: pointer; width: 40px; height: 40px">
  </div>
  <div class="pure-u-1-2" style="display: flex; flex-direction: row; justify-content: flex-end">
    <div (click)="open()" style="display: flex; flex-direction: row; align-items: center; cursor: pointer">
      <nb-icon style="width: 40px; height: 40px" icon="plus-circle-outline" class="facebook-blue-color"></nb-icon>
      <p>Proposer un trajet</p>
    </div>
  </div>
</div>
