::ng-deep .nb-theme-default [nbButton].appearance-filled.status-primary {
  background-color: #3C5A99;
  border-color: #4c68a3;
}

::ng-deep nav {
  width: 100%;
}

.facebook-blue-color {
  color: #3C5A99;
}
