
    <nb-card style="width: 50%">
      <nb-card-body>
        <div class="flex-display flex-column-direction">
          <nb-user [name]="driver" title="Contact : 21 463 933"></nb-user>
          <div style="padding-left: 45px">
            <p>{{nbAvailablesPlaces}} place(s) disponible(s) de {{from}} à {{destination}}<br>
              Départ {{time}} du {{rdv}}</p>
          </div>
          <div style="display: flex; flex-direction: row-reverse">
            <button nbButton (click)="open()">Réserver</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

